@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="AdminApp">
    <div class="container">
        <div class="row">
            <div class="col-3 border rounded" style="background-color: #FFF; height: 20em">
                <a href="/iamadmin" class="mt-2" style="display: block; text-decoration: none;">Список конкурсов и розыгрышей</a>
                <a href="#" class="mt-2" style="display: block; text-decoration: none;">Выйти</a>
            </div>
            <div class="col-1"></div>
            <div class="col-8 border rounded pt-2 pb-4" style="background-color: #FFF;">
                <a href="#" v-on:click="filterContests(false)" v-bind:class="{ 'btn': !isPublished, 'btn-primary': !isPublished }" style="text-decoration: none;">Скрытые</a>
                <a href="#" v-on:click="filterContests(true)" v-bind:class="{ 'btn': isPublished, 'btn-primary': isPublished }" class="ml-4" style="text-decoration: none;">Активные</a>
                <div v-if="hasContests" v-for="contest in contests" v-bind:key="contest.id" class="card mt-4">
                    <div class="row no-gutters" style="height: 16em;">
                        <div class="col-md-5 pl-2 pt-2">
                            <img :src="contest.coverPath" class="card-img" style="display: block; height: 12.1em; object-fit: cover;">
                            <button v-if="!contest.isPublished" v-on:click="publishContest(contest.id)" type="button" class="btn btn-outline-primary">Опубликовать</button>
                            <button v-if="contest.isPublished" v-on:click="hideContest(contest.id)" type="button" class="btn btn-outline-primary">Скрыть</button>
                            <a class="btn btn-outline-danger mt-2 mb-2" href="#">Удалить</a>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <p class="card-text">Идентификатор: {{ contest.id }}</p>
                                <p v-if="contest.acrossCountry" class="card-text"><span class="text-primary">По всей России</span>, закончится {{ contest.endDateString }}</p>
                                <p v-if="!contest.acrossCountry" class="card-text"><span class="text-primary">{{ contest.city }}</span>, закончится {{ contest.endDateString }}</p>
                                <p class="card-text">{{ contest.title }}</p>
                                <p class="card-text"><small class="text-muted">{{ contest.publishDateString }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="hasContests && hasNextPage" class="d-flex justify-content-center mt-4">
                    <button v-on:click="getContests" class="btn btn-primary">Показать еще</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    var AdminApp = new Vue({
        el: "#AdminApp",
        data: {
            hasContests: false,
            hasNextPage: true,
            isPublished: false,
            search: "",
            contests: []
        },
        created: function () {
            this.getContests();
        },
        methods: {
            getContests() {
                var request = $.ajax({
                    url: "/contests",
                    method: "GET",
                    data: {
                        pageNumber: 1,
                        pageSize: 15,
                        isPublished: this.isPublished,
                        search: this.search,
                        sort: this.sort,
                        city: this.city
                    },
                    dataType: "json",
                    contentType: "application/json"
                });

                var self = this;

                request.done(function (response) {

                    if (self.contests.length === 0)
                        self.contests = response.items;
                    else
                        self.contests = self.contests.concat(response.items);

                    self.hasNextPage = response.hasNextPage;

                    if (response.hasNextPage)
                        self.pageNumber++

                    if (response.items.length !== 0)
                        self.hasContests = true;

                });
            },

            filterContests(filter) {
                this.contests.length = 0;
                this.pageNumber = 1;
                this.hasContests = false;
                this.isPublished = filter;
                this.getContests();
            },

            publishContest(id) {
                var request = $.ajax({
                    url: "/contests/" + id + "/publish",
                    method: "POST",
                    data: { id: id },
                    dataType: "json",
                    contentType: "application/json"
                });

                request.done(function () {
                    this.contests = this.contests.filter(contest => contest.id !== id);
                });

                request.fail(function () {

                });
            }
        }
    });

</script>
