@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mt-4" id="AdminApp">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <input type="text" class="form-control" placeholder="Поиск по ключевым слова" style="outline: none;" v-model="search">
            </div>
            <div class="col-3">
                <input type="text" class="form-control" id="city" placeholder="Поиск по населенному пункту">
            </div>
            <div class="col-3">
                <input type="text" class="form-control" placeholder="Поиск по номеру" style="outline: none;">
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary w-100" v-on:click="filterContests">Найти</button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 d-flex align-items-center">
                <p class="text-primary mb-0" style="cursor: pointer;" v-on:click="showUnpublished" v-if="isPublished">Скрытые</p>
                <p class="btn btn-outline-primary mb-0" style="cursor: pointer;" v-else>Скрытые</p>
                <p class="text-primary mb-0 ml-4" style="cursor: pointer;" v-on:click="showPublished" v-if="!isPublished">Активные</p>
                <p class="btn btn-outline-primary mb-0 ml-4" style="cursor: pointer;" v-else>Активные</p>
                <p class="text-primary mb-0 ml-4" style="cursor: pointer;">Закончились</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-4" v-if="hasContests" v-for="contest in contests" v-bind:key="contest.id">
                <div class="card w-100">
                    <div class="row no-gutters" style="height: 180px;">
                        <div class="col-10 d-flex flex-column p-4">
                            <div class="d-flex align-items-center mb-2">
                                <p class="mb-0 font-weight-bold">Организатор: {{ contest.organizator }}</p>
                                <p class="mb-0 ml-4 font-weight-bold"><i class="far fa-calendar-check"></i> {{ contest.endDateString }}</p>
                                <p class="mb-0 ml-4 font-weight-bold" v-if="!contest.acrossCountry"><i class="fas fa-map-marker-alt"></i> {{ contest.city }}</p>
                                <p class="mb-0 ml-4 font-weight-bold" v-else><i class="fas fa-map-marker-alt"></i> по России</p>
                            </div>
                            <p class="card-text mb-2">{{contest.title}}</p>
                            <p class="card-text mb-2 text-primary">{{contest.link}}</p>
                            <div class="d-flex justify-content-between mt-auto">
                                <p class="mb-0 text-muted"> {{contest.publishDateString}}</p>
                            </div>
                        </div>
                        <div class="col-2 p-4">
                            <button class="btn btn-success w-100 mb-2" v-on:click="publishContest(contest.id)" v-if="!isPublished">Опубликовать</button>
                            <button class="btn btn-warning w-100 mb-2" v-on:click="hideContest(contest.id)" v-else>Скрыть</button>
                            <button class="btn btn-danger w-100" v-on:click="deleteContest(contest.id)">Удалить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="hasContests && hasNextPage" class="row justify-content-center mt-4">
            <div class="col-4">
                <button v-on:click="getContests" class="btn btn-primary w-100">Показать еще</button>
            </div>
        </div>
        <div v-if="!hasContests">
            <div class="row d-flex justify-content-center mt-4">
                <div>
                    <p class="font-weight-bolder"><i class="fas fa-exclamation-circle"></i> Извините, по вашему запросу ничего не найдено.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#addContestButton').hide();

    var AdminApp = new Vue({
        el: "#AdminApp",
        data: {
            hasContests: false,
            hasNextPage: true,
            isPublished: false,
            search: "",
            contests: []
        },
        created: function () {
            this.getContests();
        },
        methods: {
            getContests() {
                var request = $.ajax({
                    url: "/contests/all",
                    method: "GET",
                    data: {
                        pageNumber: 1,
                        pageSize: 15,
                        isPublished: this.isPublished,
                        search: this.search
                    },
                    dataType: "json",
                    contentType: "application/json"
                });

                var self = this;

                request.done(function (response) {

                    if (self.contests.length === 0)
                        self.contests = response.items;
                    else
                        self.contests = self.contests.concat(response.items);

                    self.hasNextPage = response.hasNextPage;

                    if (response.hasNextPage)
                        self.pageNumber++

                    if (response.items.length !== 0)
                        self.hasContests = true;

                });
            },

            showUnpublished() {
                this.isPublished = false;
                this.filterContests();
            },

            showPublished() {
                this.isPublished = true;
                this.filterContests();
            },

            filterContests() {
                this.contests.length = 0;
                this.pageNumber = 1;
                this.hasContests = false;
                this.getContests();
            },

            publishContest(id) {
                var request = $.ajax({
                    url: "/contests/" + id + "/publish",
                    method: "POST",
                    data: { id: id },
                    contentType: "application/json"
                });

                var self = this;

                request.done(function (response) {
                    var contestIndex = self.contests.findIndex(contest => contest.id === id);
                    self.contests.splice(contestIndex, 1);
                });
            },

            hideContest(id) {
                var request = $.ajax({
                    url: "/contests/" + id + "/hide",
                    method: "POST",
                    data: { id: id },
                    contentType: "application/json"
                });

                var self = this;

                request.done(function (response) {
                    var contestIndex = self.contests.findIndex(contest => contest.id === id);
                    self.contests.splice(contestIndex, 1);
                });
            },

            deleteContest(id) {
                var request = $.ajax({
                    url: "/contests/" + id,
                    method: "DELETE",
                    data: { id: id },
                    contentType: "application/json"
                });

                var self = this;

                request.done(function (response) {
                    var contestIndex = self.contests.findIndex(contest => contest.id === id);
                    self.contests.splice(contestIndex, 1);

                    if (self.contests.length === 0)
                        self.hasContests = false;
                });
            }
        }
    });

</script>
