<div class="modal fade" id="failModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success text-danger" id="staticBackdropLabel">Ошибка!</h5>
            </div>
            <div class="modal-body">
                <p>
                    Попробуйте еще раз позже или воспользуйтесь «Обратной связью».
                </p>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <a href="/addContest" class="btn btn-danger">Хорошо</a>
            </div>
        </div>
    </div>
</div>