<div class="modal fade" id="failModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success text-danger" id="staticBackdropLabel">Упс! Что-то пошло не так...</h5>
            </div>
            <div class="modal-body">
                <p>
                    Попробуйте еще раз позже или обратитесь в поддержку!
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Понятно</button>
            </div>
        </div>
    </div>
</div>