@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container background-color-white pl-4 border">
    <form id="form" action="/api/contest/add" method="post" enctype="multipart/form-data">
        <div class="form-row pt-3">
            <div class="col-6">
                <h3 class="text-primary mb-1">Добавить конкурс</h3>
                <small class="form-text text-muted">Все поля со * - обязательные.</small>
            </div>
        </div>
        <div class="form-row mt-3">
            <div class="col-3">
                <input type="date" class="form-control" id="endDate" min="2020-01-01" max="2021-12-31" />
                <small class="form-text text-muted">* Дата завершения конкурса</small>
            </div>
        </div>
        <div class="form-row mt-3">
            <div class="col-6">
                <input id="smallDescription" type="text" class="form-control rounded-0 w-100" name="smallDescription">
                <small class="form-text text-muted">* Краткое описание, будет на главной странице. Максимум 140 символов</small>
            </div>
        </div>
        <div class="form-row mt-3">
            <div class="col-6">
                <input id="link" type="text" class="form-control rounded-0 w-100" name="link">
                <small class="form-text text-muted">* Ссылка на пост/видео/новость. Максимум 140 символов</small>
            </div>
        </div>
        <div class="form-row mt-3">
            <div class="col-6">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="cover" accept="image/x-png,image/gif,image/jpeg" name="cover">
                    <label class="custom-file-label rounded-0" for="cover" data-browse="Выбрать"></label>
                    <small class="form-text text-muted">Обложка</small>
                </div>
            </div>
        </div>
        <div class="form-row mt-3">
            <div class="col-12">
                <small class="form-text text-muted">Полное описание условий, будет только на странице конкурса. Максимум 2500 символов</small>
                <textarea id="fullDescription" name="fullDescription" maxlength="2500"></textarea>
            </div>
        </div>
        <div class="form-row mt-3 d-flex justify-content-center pb-3">
            <div class="col-3">
                <input type="submit" class="btn btn-primary w-100" value="Добавить">
            </div>
        </div>
    </form>

    @await Html.PartialAsync("AddContest/_SuccessModal")
    @await Html.PartialAsync("AddContest/_FailModal")
</div>

<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>
<script src="~/js/add-contest.js"></script>

