@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/index.css" rel="stylesheet" />

<div id="IndexApp" class="pl-md-0 pl-sm-2 pl-2 pr-md-0 pr-sm-2 pr-2">
    <div id="searchBlock" class="container border p-4 bg-white">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-12 mb-md-0 mb-sm-2 mb-2">
                <input type="text" class="form-control" placeholder="Поиск по ключевым словам"
                       v-model="search">
            </div>
            <div class="col-md-4 col-sm-12 col-12 mb-md-0 mb-sm-2 mb-2">
                <input id="city" type="text" class="form-control"
                       placeholder="Поиск по населенному пункту" v-model="city">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary w-100" v-on:click="filterContests">Найти</button>
            </div>
        </div>
        <div class="row mt-md-4 mt-sm-4 mt-4">
            <div class="col-md-12 col-sm-12 col-12 d-md-flex d-sm-none d-none justify-content-center align-items-center">
                <p class="text-primary cursor-pointer mb-0" v-on:click="sortContests('Popular')"
                   v-if="sort !== 'Popular'">Популярные</p>
                <p class="btn btn-outline-primary cursor-pointer mb-0" v-else>Популярные</p>

                <p class="text-primary cursor-pointer mb-0 ml-md-4" v-on:click="sortContests('New')"
                   v-if="sort !== 'New'">Новые</p>
                <p class="btn btn-outline-primary mb-0 ml-md-4 cursor-pointer" v-else>Новые</p>

                <p class="text-primary cursor-pointer mb-0 ml-md-4" v-on:click="sortContests('Old')"
                   v-if="sort !== 'Old'">Старые</p>
                <p class="btn btn-outline-primary cursor-pointer mb-0 ml-md-4" v-else>Старые</p>

                <p class="text-primary cursor-pointer mb-0 ml-md-4" v-on:click="sortContests('AlmostClosed')"
                   v-if="sort !== 'AlmostClosed'">Заканчивающиеся</p>
                <p class="btn btn-outline-primary cursor-pointer mb-0 ml-md-4" v-else>Заканчивающиеся</p>
            </div>
            <div class="col-sm-12 col-12 d-md-none d-sm-block d-block">
                <select class="custom-select" v-model="sort" v-on:change="sortContests()">
                    <option value="Popular" selected>Популярные</option>
                    <option value="New">Новые</option>
                    <option value="Old">Старые</option>
                    <option value="AlmostClosed">Заканчивающиеся</option>
                </select>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-4 d-md-block d-sm-none d-none" v-for="contest in contests" v-bind:key="contest.id" v-if="hasContests">
                <div class="card w-100">
                    <div class="row no-gutters" style="height: 180px;">
                        <div class="col-md-4 border-right p-4 d-flex flex-column">
                            <p class="mb-1"><i class="far fa-calendar-check"></i> {{ contest.endDateString }}</p>

                            <p v-if="!contest.acrossCountry"><i class="fas fa-map-marker-alt"></i> {{ contest.city }}</p>
                            <p class="mb-2" v-else><i class="fas fa-map-marker-alt"></i> по России</p>

                            <a class="btn btn-primary mt-auto" :href="contest.link">Подробнее</a>
                        </div>
                        <div class="col-md-8 d-flex flex-column p-4">
                            <h6 class="">Организатор: {{ contest.organizator }}</h6>
                            <p class="card-text mb-2">{{contest.title}}</p>
                            <div class="d-flex justify-content-between mt-auto">
                                <p class="mb-0 text-muted"> {{contest.publishDateString}}</p>
                                <p class="mb-0 text-muted"><i class="far fa-eye"></i> {{ contest.views}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-12 mt-4 d-md-none d-sm-block d-block p-0" v-for="contest in contests" v-bind:key="contest.id" v-if="hasContests">
                <div class="card">
                    <div class="row no-gutters p-4">
                        <div class="col-sm-12 col-12 d-flex justify-content-between">
                            <p><i class="far fa-calendar-check"></i> {{ contest.endDateString }}</p>
                            <p v-if="!contest.acrossCountry"><i class="fas fa-map-marker-alt"></i> {{ contest.city }}</p>
                            <p v-else><i class="fas fa-map-marker-alt"></i> по России</p>
                        </div>
                        <div class="col-sm-12 col-12">
                            <h6 class="d-block mb-3">Организатор: {{ contest.organizator }}</h6>
                        </div>
                        <div class="col-sm-12 col-12">
                            <p class="card-text mb-3">{{contest.title}}</p>
                        </div>
                        <div class="col-sm-12 col-12 d-flex justify-content-between">
                            <p class="text-muted"> {{contest.publishDateString}}</p>
                            <p class="text-muted"><i class="far fa-eye"></i> {{ contest.views}}</p>
                        </div>
                        <div class="col-sm-12 col-12">
                            <a class="btn btn-primary d-block" :href="contest.link">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="hasContests && hasNextPage" class="row justify-content-center mt-4">
            <div class="col-md-12">
                <button v-on:click="getContests" class="btn btn-primary w-100">Показать еще</button>
            </div>
        </div>
        <div v-if="!hasContests">
            <div class="row d-flex justify-content-center mt-4">
                <div>
                    <p class="font-weight-bolder"><i class="fas fa-exclamation-circle"></i> Извините, по вашему запросу ничего не найдено.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@20.3.0/dist/css/suggestions.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@20.3.0/dist/js/jquery.suggestions.min.js"></script>
<script src="~/js/index.js"></script>