@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="AddContestApp" class="container">
    <form ref="form" v-on:submit="validateForm" enctype="multipart/form-data">
        <div class="row mt-4">
            <div class="col-6 border rounded p-4" style="background-color: #FFF">
                <input type="text" class="form-control" v-model="contest.title"
                       v-bind:class="{ 'is-invalid': !isTitleValid && hasSubmitted }">
                <small class="text-muted">* Название</small>
                <div class="row mt-2">
                    <div class="col-5">
                        <input type="date" class="form-control" min="2020-01-01" max="2021-12-31"
                               v-model="contest.endDate"
                               v-bind:class="{ 'is-invalid': !isEndDateValid && hasSubmitted }" />
                        <small class="text-muted">* Дата завершения</small>
                    </div>
                    <div class="col-7">
                        <input type="text" class="form-control"
                               v-model="contest.link"
                               v-bind:class="{ 'is-invalid': !isLinkValid && hasSubmitted }">
                        <small class="text-muted">* Ссылка</small>
                    </div>
                </div>
                <div class="form-check mt-2">
                    <input class="form-check-input" type="checkbox" id="acrossCountry" style="margin-top: 0.5em;"
                           v-model="contest.acrossCountry">
                    <label class="form-check-label" for="defaultCheck1">
                        по всей России
                    </label>
                </div>
                <input type="text" class="form-control mt-2" id="city"
                       v-bind:class="{ 'is-invalid': !isCityValid && hasSubmitted }"
                       v-bind:disabled="contest.acrossCountry">
                <small class="text-muted">Населённый пункт</small>
                <div class="custom-file mt-2">
                    <input id="coverImage" type="file" ref="file" class="custom-file-input"
                           accept="image/x-png,image/gif,image/jpeg" v-on:change="handleFileUpload" />
                    <label class="custom-file-label" for="coverImage" data-browse="Выбрать"></label>
                    <small class="text-muted">Обложка конкурса</small>
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <input type="submit" class="btn btn-outline-primary w-25" value="Добавить">
                </div>
            </div>
            <div class="col-6">
                <h1 style="font-size: 1.5em;">Mix Prize — это онлайн каталог для поиска розыгрышей призов и конкурсов.</h1>
                <p>Добавляя контент на наш сайт, вы привлекаете аудиторию для вашего бренда. Публикация полностью бесплатная.</p>
                <ul>
                    <li>Поля «название, дата завершения и ссылка» обязательны для заполнения.</li>
                    <li>Поле «ссылка» должно содержать ссылку на пост в социальных сетях.</li>
                    <li>Укажите, в каком населенном пунткте проходит розыгрыш призов или конкурс, или поставьте галочку "по всей России".</li>
                    <li>Вы можете загрузить рекламную обложку для конкурса или розыгрыша.</li>
                </ul>
            </div>
        </div>
    </form>
</div>
@await Html.PartialAsync("AddContest/_SuccessModal")
@await Html.PartialAsync("AddContest/_FailModal")
<link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@20.3.0/dist/css/suggestions.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@20.3.0/dist/js/jquery.suggestions.min.js"></script>
<script>

    var AddContestApp = new Vue({
        el: '#AddContestApp',
        data: {
            contest: {
                title: "",
                endDate: "",
                city: "",
                link: "",
                coverImage: "",
                acrossCountry: true
            },
            isTitleValid: false,
            isEndDateValid: false,
            isCityValid: false,
            isLinkValid: false,
            hasSubmitted: false,
        },
        methods: {
            handleFileUpload() {
                this.contest.coverImage = this.$refs.file.files[0];
            },

            validateForm(event) {
                event.preventDefault();
                this.hasSubmitted = true;
                this.isTitleValid = (this.contest.title.length && this.contest.title.length <= 140) ? true : false;
                this.isEndDateValid = (this.contest.endDate.length) ? true : false;
                this.isCityValid = (this.contest.city.length <= 75) ? true : false;
                this.isLinkValid = (this.contest.link.length && this.contest.link.length <= 75) ? true : false;

                if (this.isTitleValid && this.isEndDateValid && this.isCityValid && this.isLinkValid) {
                    var formData = new FormData();
                    formData.append('title', this.contest.title);
                    formData.append('endDate', this.contest.endDate);
                    formData.append('city', this.contest.city);
                    formData.append('link', this.contest.link);
                    formData.append('acrossCountry', this.contest.acrossCountry);
                    formData.append('coverImage', this.contest.coverImage);

                    var request = $.ajax({
                        url: "/contests/add",
                        method: "POST",
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false
                    });
                    request.done(function () {
                        $('#successModal').modal('show');
                    });
                    request.fail(function () {
                        $('#failModal').modal('show');
                    });
                }
            }
        }
    });

    $("#city").suggestions({

        token: "8883f56da5a81a127cba6f4102dbcd72d9ba9078",
        type: "ADDRESS",
        hint: false,
        bounds: "city",
        constraints: {
            locations: { city_type_full: "город" }
        },
        onSelectNothing: function () {
            $(this).val("");
        },
        onSelect: function (suggestion) {
            $(this).val(suggestion.data.city);
            AddContestApp._data.contest.city = suggestion.data.city;
        }
    });

    $('#coverImage').change(function () {
        var fileName = $(this).val().replace('C:\\fakepath\\', " ");
        $(this).next('.custom-file-label').html(fileName);
    })

    $('#addContestButton').hide();
</script>
