@model Contest.Web.ViewModels.HomeViewModel

<div class="container border p-3" style="background-color: #fff;">
    <div class="row pl-4">
        <h1>25000 онлайн-конкурсов по всей России</h1>
    </div>
    <form method="get" action="/">
        <div class="row mt-3">
                <div class="pl-4" style="width: 35em;">
                    <input type="text" class="form-control rounded-0"
                           placeholder="Поиск по ключевым словам" name="search" value="@Model.Search">
                </div>
                <button type="button" class="btn button-size border border-left-0 dropdown-toggle rounded-0" style="width: 24em; text-align: left;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Поиск по городу
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Петрозаводск</a>
                    <a class="dropdown-item" href="#">Москва</a>
                    <a class="dropdown-item" href="#">Санкт-Петербург</a>
                </div>
                <input type="hidden" name="sort" value="@Model.Sort">
                <button type="submit" class="btn btn-primary rounded-0 ml-0" style="width: 10em">
                    Найти
                </button>
        </div>
    </form>
        <div class="row pl-4 mt-4">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    @if (Model.Sort == "Popular")
                    {
                        <a class="nav-link active" href="#">Популярные</a>
                    }
                    else
                    {
                        <a class="nav-link" href="/?sort=Popular&search=@Model.Search">Популярные</a>
                    }
                </li>
                <li class="nav-item">
                    @if (Model.Sort == "New")
                    {
                        <a class="nav-link active" href="#">Новые</a>
                    }
                    else
                    {
                        <a class="nav-link" href="/?sort=New&search=@Model.Search">Новые</a>
                    }
                </li>
                <li class="nav-item">
                    @if (Model.Sort == "AlmostClosed")
                    {
                        <a class="nav-link active" href="#">Старые</a>
                    }
                    else
                    {
                        <a class="nav-link" href="/?sort=AlmostClosed&search=@Model.Search">Старые</a>
                    }
                </li>
            </ul>
        </div>
</div>
