<div class="container border p-3 background-color-white">
    <div class="row pl-4">
        <h1>25000 онлайн-конкурсов по всей России</h1>
    </div>
    <div class="row mt-3">
        <div class="pl-4 w-65">
            <input type="text" class="form-control border-radius-0"
                   placeholder="Поиск по ключевым словам">
        </div>
        <button type="button" class="btn button-size border border-left-0 dropdown-toggle border-radius-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Поиск по городу
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Петрозаводск</a>
            <a class="dropdown-item" href="#">Москва</a>
            <a class="dropdown-item" href="#">Санкт-Петербург</a>
        </div>
        <button type="button" class="btn button-size btn-primary border-radius-0 ml-0">
            Найти
        </button>
    </div>
    <div class="row pl-4 mt-4">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#">Популярные</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Недавние</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Заканчивающиеся</a>
            </li>
        </ul>
    </div>
</div>
