body {
    background-color: #fafafa;
}

nav {
    height: 3.5em;
}

footer {
    height: 10em;
}

.background-color-white {
    background-color: #FFF;
}


.padding-top-5 {
    padding-top: 5em;
}

.card-size {
    height: 475px;
}

.button-size {
    width: 185px;
    height: 38px;
}


.h-40 {
    height: 40%;
}

.h-60 {
    height: 60%;
}

.w-65 {
    width: 65%;
}


.font-size-24 {
    font-size: 24px;
}


.margin-left-30 {
    margin-left: 30px;
}

.border-radius-0 {
    border-radius: 0px;
}

.border-red {
    border-color: #dc3545 !important;
}
