<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Конкурсы</title>
</head>
<body>
    <div class="navbar regular-24">
        <p class="inline p-l-20">Конкурсы</p>
        <div class="wrapper">
            <ul class="inline">
                <li>Главная</li>
                <li class="m-l-40">О сервисе</li>
            </ul>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/common/common.css" />
    <link rel="stylesheet" href="~/css/common/layout.css" />
</body>
</html>
