<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/vue/vue.min.js"></script>
    <script src="https://kit.fontawesome.com/2ae7c006c6.js" crossorigin="anonymous"></script>
</head>
<body style="background-color: #fafafa;">
    <nav class="navbar navbar-expand-md navbar-light border-bottom bg-white mb-4">
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" 
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">О сервисе</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Обратная связь</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Новости</a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <a id="addContestButton" href="/addContest" class="btn btn-primary my-2 my-sm-0">Добавить конкурс или розыгрыш</a>
            </div>
        </div>
    </nav>
    @RenderBody()
    <footer class="border-top bg-white">
        <div class="container">
            <div class="row mt-2">

            </div>
        </div>
    </footer>
</body>
</html>
