<div class="modal fade" id="successModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success" id="staticBackdropLabel">Все прошло успешно!</h5>
            </div>
            <div class="modal-body">
                <p>
                    Осталось совсем немного: <span class="font-weight-bold">конкурс должен пройти модерацию.</span> <br /> Обычно это занимает полчаса. После модерации ваш конкурс попадет на главную страницу.
                </p>
                <p>Если у вас возникли проблемы, пожалуйста, воспользуйтесь «Обратной связью».</p>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <a href="/" class="btn btn-success w-25">Хорошо</a>
            </div>
        </div>
    </div>
</div>

