<div class="modal fade" id="successModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success" id="staticBackdropLabel">Конкурс успешно добавлен на наш сайт.</h5>
            </div>
            <div class="modal-body">
                <p>
                    <span class="font-weight-bold">Осталось совсем чуть-чуть: конкурс должен пройти модерацию.</span> Обычно это занимает от 5 минут до нескольких часов.
                    <br />
                    После модерации ваш конкурс попадет на главную страницу.
                </p>
                <p class="font-weight-bold">Мы отправили ссылку на ваш конкурс на указанную почту.</p>
                <p>Если у вас возникли какие-либо вопросы, напишите письмо на нашу почту - </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Понятно</button>
            </div>
        </div>
    </div>
</div>
